.TasksTable {
    width: 100%;
    max-height: 1rem;
    overflow-y: scroll;
}
.Text {
    max-width: 10rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.TasksTable thead tr th {
    text-align: left;
    padding: 1rem 0;
}

.TasksTable tbody tr td {
    text-align: left;
    padding: 0.25rem 0.5rem;
}

.TasksTable input,
.TasksTable select {
    background-color: transparent;
    border: solid 1px #989da5;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    width: 100%;
    outline: none;
    color: #4a4e55;
}
.TasksTable select {
    cursor: pointer;
}
.TasksTable button {
    cursor: pointer;
    background-color: transparent;
    color: rgb(168, 255, 168);
    border: none;
    font-size: 1.5rem;
    outline: none;
}
